<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asatkee1.augementedimagetest">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.hardware.location.gps" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Initial_Page_Activity" />
        <activity android:name=".General_Information_Activity"></activity>
        <activity android:name=".LaunchPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="BuildingPages.HelpActivity" />

        <!-- A building -->
        <activity android:name=".BuildingPages.ABuilding.ABuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.ABuilding.ABCFoundation"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.ABuilding.ACurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.ABuilding.AIBIT"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- B building -->
        <activity android:name=".BuildingPages.BBuilding.BBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.BBuilding.BCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- C building -->
        <activity android:name=".BuildingPages.CBuilding.CBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.CBuilding.CCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- D building -->
        <activity android:name=".BuildingPages.DBuilding.DBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.DBuilding.DASC"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.DBuilding.DCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.DBuilding.DLMC"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.DBuilding.DSafety"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- E building -->
        <activity android:name=".BuildingPages.EBuilding.EBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.EBuilding.ECurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- F building -->
        <activity android:name=".BuildingPages.FBuilding.FBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- G building -->
        <activity android:name=".BuildingPages.GBuilding.GBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.GBuilding.GCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- K building -->
        <activity android:name=".BuildingPages.KBuilding.KBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- L building -->
        <activity android:name=".BuildingPages.LBuilding.LBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.LBuilding.LScienceDivisionActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.LBuilding.LInteriorDesignActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.LBuilding.LCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- N building -->
        <activity android:name=".BuildingPages.NBuilding.NBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.NBuilding.NCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- R building -->
        <activity android:name=".BuildingPages.RBuilding.RBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.RBuilding.RArtsAndHumanitiesMain"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.RBuilding.RArtsAndHumanitiesDepartments"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.RBuilding.RDanceMain"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.RBuilding.RELIMain"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.RBuilding.RELIPrograms"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.RBuilding.RABEMain"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.RBuilding.RCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- S building -->
        <activity android:name=".BuildingPages.SBuilding.SBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.SBuilding.SScienceDepartments"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.SBuilding.SScienceAdvising"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.SBuilding.SScienceStudyCenter"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.SBuilding.SCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <!-- T building -->
        <activity android:name=".BuildingPages.TBuilding.TBuilding"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.TBuilding.TCurrentClasses"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".BuildingPages.TBuilding.THealthAdvising"
            android:theme="@style/Theme.AppCompat.Translucent"/>
    </application>

</manifest>